---
const currentYear = new Date().getFullYear();
---

<footer
  class="py-8 border-t border-border-default bg-bg-primary dark:bg-bg-primary"
>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-center text-sm text-text-secondary">
      © {currentYear} Tomaž Starašinič. All rights reserved.
    </p>
  </div>
</footer>
