---
import LanguageSwitcher from './LanguageSwitcher.astro';

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-white dark:bg-gray-900 border-t border-gray-200 dark:border-gray-800 shadow-sm"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <p class="text-center text-gray-700 dark:text-gray-300">
      © {currentYear} Tomaž Starašinič. All rights reserved.
    </p>
  </div>
</footer>
