---
import Icon from './icons/Icon.astro';
---

<theme-toggle>
  <label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" class="sr-only peer" />
    <div
      class="relative w-12 h-6 bg-border-default dark:bg-border-default rounded-full peer peer-checked:bg-primary-500 transition-colors duration-200"
    >
      <div
        class="absolute top-1 left-1 w-4 h-4 rounded-full bg-white shadow-sm transition-transform duration-200 peer-checked:translate-x-6 flex items-center justify-center"
      >
        <span class="sun-icon block text-text-tertiary">
          <Icon name="Sun" size={12} />
        </span>
        <span class="moon-icon hidden text-text-tertiary">
          <Icon name="Moon" size={12} />
        </span>
      </div>
    </div>
  </label>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();
      const checkbox = this.querySelector('input[type="checkbox"]')! as HTMLInputElement;
      const toggleCircle = this.querySelector('div > div')! as HTMLElement;
      const sunIcon = this.querySelector('.sun-icon') as HTMLElement;
      const moonIcon = this.querySelector('.moon-icon') as HTMLElement;

      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? 'add' : 'remove']('dark');
        checkbox.checked = dark;
        if (dark) {
          toggleCircle.classList.add('translate-x-6');
          sunIcon.classList.add('hidden');
          moonIcon.classList.remove('hidden');
        } else {
          toggleCircle.classList.remove('translate-x-6');
          sunIcon.classList.remove('hidden');
          moonIcon.classList.add('hidden');
        }
      };

      checkbox.addEventListener('change', () => setTheme(checkbox.checked));
      setTheme(this.isDark());
    }
    isDark() {
      return document.documentElement.classList.contains('dark');
    }
  }
  customElements.define('theme-toggle', ThemeToggle);
</script>
